<form class="register-form">
  <label class="register-label">Register</label>
  <input class="register-input" type="text" placeholder="Name..."/>
  <input class="register-input" type="text" placeholder="Email address..."/>
  <input class="register-input" type="text" placeholder="Password..."/>
  <input class="register-input" type="text" placeholder="Confirm Password..."/>
  <input class="register-button" type="button" value="Register"/>
  <p class="register-to-login-text">Already have an account? <a routerLink="/login" routerLinkActive="active">Click here!</a></p>
</form>
