.action-log-employees-tab {
  height: auto;
  min-height: 0;
  width: 50vh;
  border-radius: 30px;
  background: #E4EFE7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.action-log-employees-tab-title {
  width: fit-content;
  margin: auto;
  color: rgba(0, 0, 0, 0.50);
  font-family: "Inria Sans", sans-serif;
  font-size: 40px;
  line-height: normal;
  font-weight: 200;
}

.action-log-employees-tab-employees-tab {
  height: 83vh;
  max-height: 71vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #99BC85 transparent;
}

.employee-name {
  text-align: center;
  color: #000;
  font-family: "Inria Sans", sans-serif;
  font-size: 24px;
  font-weight: 200;
  flex: 0 0 auto;
  margin-bottom: 8px;
  transition: all .3s ease-in-out;
  &:hover{
    cursor: pointer;
    font-size: 25px;
  }
}
