<section class="action-log-employees-log">
  <div class="action-log-employees-log-titles">
    <h3 class="action-log-employees-log-title-name">Name:</h3>
    <h3 class="action-log-employees-log-title-action">Action:</h3>
  </div>
  <div class="employee-log-container">
    <div class="employee-log-container-instance" *ngFor="let employee of employees; let i = index">
      <div class="employee-log-container-instance-employee-info">
        <h2 class="employee-name">{{ employee.name }}</h2>
        <h2 class="employee-log-action-and-time">
          {{ employee.action ? "Entered" : "Left" }}: {{ convertTime(employee.time) }}
        </h2>
      </div>
      <hr *ngIf="i !== employees.length - 1" />
    </div>
  </div>
</section>
