<form class="login-form" (submit)="$event.preventDefault(); login()">
  <label class="login-label">Login</label>
  <input class="login-input" type="text" placeholder="Email address..." [(ngModel)]="email" name="email"/>
  <input class="login-input" type="password" placeholder="Password..." [(ngModel)]="password" name="password"/>
  <input class="login-button" type="submit" value="Login"/>
  <p class="login-to-register-text">
    Don't have an account?
    <a routerLink="/register" routerLinkActive="true">Click here!</a>
  </p>
</form>
